<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSpend</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
</head>
<body style="text-align:center">
    <a href="/logout" style="float:right"><button>Logout</button></a>
    <br></br>
    <h2>Halo, <%= profile.fullName %> </h2>
    <h4>Monthly Salary: <%= profile.monthlySalary %> </h4>
    <a href="/profile"><button>My Profile</button></a>
    

    <p> barrr disini</p>
    <br></br>
    <br></br>
    
    <!-- /startups/?filter=Hustler -->
    
    <div>
        <form action="/" method="get">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="updatedAt" <%= sort === 'updatedAt' ? 'checked' : '' %>>
                <label class="form-check-label">
                    Date
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="nominal" <%= sort === 'nominal' ? 'checked' : '' %>>
                <label class="form-check-label">
                    Nominal
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="sort" value="name" <%= sort === 'name' ? 'checked' : '' %>>
                <label class="form-check-label">
                    Name
                </label>
              </div>
              <div class="form-group">
                <select name="filter" class="form-control">
                    <option value="" selected>All</option>
                    <option value="Food" <%= filter === 'Food' ? 'selected' : '' %>>Food</option>
                    <option value="Shopping" <%= filter === 'Shopping' ? 'selected' : '' %>>Shopping</option>
                    <option value="Investment" <%= filter === 'Investment' ? 'selected' : '' %>>Investment</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success mt-3 mb-4">Filter</button>
        </form>
    </div>
    <div>
        <a href="/addTransaction"><button>Add Transaction</button></a>
    </div>
    <div>
        <table style="align-items: center;margin-left:auto;margin-right:auto">
            <thead>
                <th>No.</th>
                <th>Transaction</th>
                <th>Nominal</th>
                <th>Date</th>
                <th>Category</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <% transactions.forEach((t,i) => { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= t.name %> </td>
                        <td><%= t.nominal %></td>
                        <td><%= t.transactionDate %></td>
                        <td><%= t.category %></td>
                        <td>
                        <a href="/deleteTransaction/<%=t.id%>"><button>Delete</button></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>