<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title><%= dataProfile.fullName %></title>
</head>
<body>
    <nav class="navbar navbar navbar-dark bg-primary">
        <div class="container">
            <a href="/" class="navbar-brand h2">iSpend</a>
            <a href="/logout" class="nav-link text-light">Logout</a>
        </div>
      </nav>
    <div class="container">
        <div class="mt-5">
            <h1>My Profile</h1>
            <h4>Name: <%= dataProfile.fullName %> </h4>
            <h4>Age: <%= dataProfile.age() %> </h4>
            <h4>Gender: <%= dataProfile.gender %> </h4>
            <h4>Monthly Salary: <%= rupiahFormat(dataProfile.monthlySalary) %> </h4>
            <a href="/profile/edit" class="btn btn-primary mt-2">Edit Profile</a>
        </div>
    </div>
</body>
</html>